{% include 'toolshare/header.inc' with active_tab='profile' %}

<h1>Password change</h1>

<code>Note: A successful change of password will cause a session expiration. You will have to login again with your new credentials.</code>

<form action="" method="POST">
	{% csrf_token %}
	<br>
	{{ form.as_p }}
	<br>
	<div><input type="submit" class="btn btn-primary" value="Change Password" /></div>
</form>

{% include 'toolshare/footer.inc' with back_url='/toolshare/profile' back_desc='Back to My Profile' %}
