{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<title>Toolshare Registration</title>
</head>
<body>
<style>
body {
    background-image: url({% static 'images/background.jpeg' %});
    background-size: auto;
    background-repeat: no-repeat;
}
</style>

<div class="login-card">
<h2>Registration</h2><br>
<form action="" method="POST" enctype="multipart/form-data">
	{% csrf_token %}

	<table>
		{{ form.as_table }}
	</table>

	<input type="submit" class="login login-submit" value="Register"/>
</form>
<div class="login-help">
	<a href="/toolshare/" class="btn btn-default">Login</a>
</div>
</body>
</html>
